In [4]:
import pandas as pd
from utils import search_best_parameters_database, count_canny
from sklearn.metrics import mean_absolute_error

In [2]:
search_best_parameters_database("../image/dbe/database_1600.csv", "../image/dbe/classify_1600")

(14, 16, 2.299647177419355)

In [8]:
df = pd.read_csv("../image/dbe/database_1600.csv")

def count_method(x):
    file = f"../image/dbe/classify_1600/{x}.png"
    return count_canny(file, 14, 16)

df["count_method"] = df.file.apply(count_method)
df["error"] = (df["count_method"] - df["count"]).abs()

error = mean_absolute_error(df["count"].to_numpy(), df["count_method"].to_numpy())

In [16]:
df.error.describe()

count    31.000000
mean      2.299647
std       1.335236
min       0.316406
25%       1.229492
50%       2.142578
75%       2.959961
max       5.439453
Name: error, dtype: float64

In [13]:
df

    file  count  count_method     error
0     12     10     11.507812  1.507812
1     10      9     13.103516  4.103516
2     11      8     13.439453  5.439453
3     13      9     11.714844  2.714844
4     20      7      9.097656  2.097656
5     21      8     10.839844  2.839844
6     27      9      9.316406  0.316406
7     28      9     12.009766  3.009766
8     29      9     13.806641  4.806641
9     30      9     12.583984  3.583984
10    35      9     11.285156  2.285156
11    36     12     11.238281  0.761719
12    37     11     11.412109  0.412109
13    38      9     12.287109  3.287109
14    43     10      9.199219  0.800781
15    44     12      8.416016  3.583984
16    45     13     10.904297  2.095703
17    46     11     12.994141  1.994141
18    50     13     11.085938  1.914062
19    51     14     12.742188  1.257812
20    52     17     12.630859  4.369141
21    53     16     15.052734  0.947266
22    54     11     12.201172  1.201172
23    58      9      8.412109  0.587891
24    59     11      8.089844  2.910156
25    60     11      8.787109  2.212891
26    61     13     10.201172  2.798828
27    66      6      8.027344  2.027344
28    67      8      7.554688  0.445312
29    68     10      7.857422  2.142578
30    74     10      7.166016  2.833984