https://arxiv.org/pdf/1605.06065.pdf

In [27]:
import pandas as pd
from torch import nn
import torch

# Analyzing sisal v2 data

In [28]:
df = pd.read_csv('dating.csv')

In [29]:
df_entity = pd.read_csv("entity.csv")
df_site = pd.read_csv("site.csv")
df_site_entity = df_site.join(df_entity, on="site_id", lsuffix="l_site_id", rsuffix="r_site_id")

In [30]:
df = df.join(df_site_entity, on="entity_id", rsuffix="_entity", lsuffix="_site")
df.shape

(10230, 72)

In [31]:
df.head()

,dating_id,entity_id_site,date_type,depth_dating,dating_thickness,lab_num,material_dated,min_weight,max_weight,uncorr_age,...,organics,fluid_inclusions,mineralogy_petrology_fabric,clumped_isotopes,noble_gas_temperatures,C14,ODL,Mg_Ca,contact,data_DOI_URL
0,150,11,MC-ICP-MS U/Th,1.5,NaN,KS06A-H1,calcite,NaN,NaN,4010.0,...,no,no,no,no,no,no,no,yes,Hai Cheng,https://www.ncdc.noaa.gov/paleo/study/21352
1,151,11,MC-ICP-MS U/Th,12.8,NaN,KS06A-H2,calcite,NaN,NaN,5580.0,...,no,no,no,no,no,no,no,yes,Hai Cheng,https://www.ncdc.noaa.gov/paleo/study/21352
2,152,11,MC-ICP-MS U/Th,23.3,NaN,KS06A-H5,calcite,NaN,NaN,7450.0,...,no,no,no,no,no,no,no,yes,Hai Cheng,https://www.ncdc.noaa.gov/paleo/study/21352
3,153,11,MC-ICP-MS U/Th,25.8,NaN,KS06A-H6,calcite,NaN,NaN,8070.0,...,no,no,no,no,no,no,no,yes,Hai Cheng,https://www.ncdc.noaa.gov/paleo/study/21352
4,154,11,MC-ICP-MS U/Th,26.5,NaN,KS06A-H7,calcite,NaN,NaN,8410.0,...,no,no,no,no,no,no,no,yes,Hai Cheng,https://www.ncdc.noaa.gov/paleo/study/21352

In [32]:
df = df.loc[:, ["depth_dating", "corr_age", "latitude", "longitude", "elevation", "entity_id_site"]]
df.shape

(10230, 6)

In [33]:
df = df.dropna()
df.shape

(4325, 6)

In [34]:
df.head()

   depth_dating  corr_age  latitude  longitude  elevation  entity_id_site
0           1.5    3800.0   25.2622    91.8817     1160.0              11
1          12.8    5490.0   25.2622    91.8817     1160.0              11
2          23.3    7320.0   25.2622    91.8817     1160.0              11
3          25.8    7960.0   25.2622    91.8817     1160.0              11
4          26.5    8310.0   25.2622    91.8817     1160.0              11

In [35]:
df.to_csv("training_data.csv", index=False)